﻿@model ToDoList.Models.TaskToDo

@{
    ViewData["Title"] = "Create";
}

<h3>Create new task</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">

            <div asp-validation-summary="All" class="text-danger"></div>
            @if (ViewBag.IsAdmin != null && ViewBag.IsAdmin)
            {
                <div class="form-group">
                    <label class="control-label">User name</label>
                    <select name="userName" class="form-control" asp-items="ViewBag.Users"></select>
                    <span asp-validation-for="DueDate" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                <select asp-for="PriorityId" class="form-control" asp-items="ViewBag.Priorities"></select>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Done" /> @Html.DisplayNameFor(model => model.Done)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

