﻿@model IEnumerable<ToDoList.Models.UserTaskList>

@{
    ViewData["Title"] = "Index";
}

    <h3>To Do List</h3>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
@foreach (var taskList in Model)
{
    @if (taskList.TasksToDo.Count > 0)
    {
        <table class="table table-bordered">
            @if(ViewData["IsAdmin"] != null && (bool)ViewData["IsAdmin"])
            {
                <caption>To Do List of @taskList.UserName</caption>
            }
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => taskList.TasksToDo.First().Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => taskList.TasksToDo.First().Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => taskList.TasksToDo.First().DueDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => taskList.TasksToDo.First().Done)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => taskList.TasksToDo.First().Priority)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in taskList.TasksToDo)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DueDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Done)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Priority.Name)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        }
    }
