﻿@using ToDoList.Services;
@inject IUserService UserService;

@if (UserService.IsAuthenticated())
{
<ul class="nav navbar-nav navbar-right">
    <li class="navbar-text">Hello @UserService.GetUserName()!</li>
    <li><a asp-area="AzureAD" asp-controller="Account" asp-action="SignOut">Sign out</a></li>
</ul>
}
else
{
<ul class="nav navbar-nav navbar-right">
    <li><a asp-area="AzureAD" asp-controller="Account" asp-action="SignIn">Sign in</a></li>
</ul>
}
