﻿@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h3 class="text-danger">An error occurred while processing your request:<br />@Model.ErrorMessage.Message</h3>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
